src/main/resources/wsdl/ws/AplicacionUninorte.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="AplicacionUninorte" targetNamespace="http://www.bmind.poc.co/webservices/soap"
                  xmlns:tns="http://www.bmind.poc.co/webservices/soap"
                  xmlns:inp1="http://www.bmind.poc.co/webservices/schemas"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bmind.poc.co/webservices/schemas" schemaLocation="../xsd/Aplicacion.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestGet">
    <wsdl:part name="request" element="inp1:id"/>
  </wsdl:message>
  <wsdl:message name="responseGet">
    <wsdl:part name="response" element="inp1:aplicaciones"/>
  </wsdl:message>
  <wsdl:message name="faultMessage">
    <wsdl:part name="error" element="inp1:error"/>
  </wsdl:message>
  <wsdl:message name="requestAdd">
    <wsdl:part name="request" element="inp1:aplicacion"/>
  </wsdl:message>
  <wsdl:message name="responseAdd">
    <wsdl:part name="response" element="inp1:aplicacion"/>
  </wsdl:message>
  <wsdl:message name="requestUpdate">
    <wsdl:part name="request" element="inp1:aplicacion"/>
  </wsdl:message>
  <wsdl:message name="responseUpdate">
    <wsdl:part name="response" element="inp1:aplicacion"/>
  </wsdl:message>
  <wsdl:message name="requestDelete">
    <wsdl:part name="request" element="inp1:id"/>
  </wsdl:message>
  <wsdl:message name="responseDelete">
    <wsdl:part name="response" element="inp1:correcto"/>
  </wsdl:message>
  <wsdl:portType name="AplicacionPort">
    <wsdl:operation name="getAplicaciones">
      <wsdl:input message="tns:requestGet"/>
      <wsdl:output message="tns:responseGet"/>
      <wsdl:fault name="getAplicacionesfault" message="tns:faultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="addAplicacion">
      <wsdl:input message="tns:requestAdd"/>
      <wsdl:output message="tns:responseAdd"/>
      <wsdl:fault name="addAplicacionfault" message="tns:faultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="updateAplicacion">
      <wsdl:input message="tns:requestUpdate"/>
      <wsdl:output message="tns:responseUpdate"/>
      <wsdl:fault name="updateAplicacionfault" message="tns:faultMessage"/>
    </wsdl:operation>
    <wsdl:operation name="deleteAplicacion">
      <wsdl:input message="tns:requestDelete"/>
      <wsdl:output message="tns:responseDelete"/>
      <wsdl:fault name="deleteAplicacionfault" message="tns:faultMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AplicacionBinding" type="tns:AplicacionPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getAplicaciones">
      <soap:operation style="document" soapAction="getAplicaciones"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:output>
      <wsdl:fault name="getAplicacionesfault">
        <soap:fault name="getAplicacionesfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addAplicacion">
      <soap:operation style="document" soapAction="addAplicacion"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:output>
      <wsdl:fault name="addAplicacionfault">
        <soap:fault name="addAplicacionfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateAplicacion">
      <soap:operation style="document" soapAction="updateAplicacion"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:output>
      <wsdl:fault name="updateAplicacionfault">
        <soap:fault name="updateAplicacionfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteAplicacion">
      <soap:operation style="document" soapAction="deleteAplicacion"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.bmind.poc.co/webservices/soap"/>
      </wsdl:output>
      <wsdl:fault name="deleteAplicacionfault">
        <soap:fault name="deleteAplicacionfault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
